@inherits WikipediaSearchComponent
@page "/wikipedia-search"

<h3>WikipediaSearchComponent works</h3>

<input type="text" @bind="SearchQuery" />
<button @onclick="Search" class="btn btn-primary">Search</button>

@if(Result != null)
{
    <ul>
        @foreach (var x in Result)
        {
            <li><a href="@x.Uri">@x.Article</a></li>
        }
    </ul>
}