<a href="" @onclick="InvokeChangeDirectory">
    @if (Body != null)
    {
        @Body
    }
    else
    {
        @Directory
    }
</a>

@code {
    [Parameter]
    public string? Directory { get;  set; }

    [Parameter]
    public EventCallback<string> ChangeDirectory { get; set; }
    
    [Parameter]
    public RenderFragment Body { get; set; }

    Task InvokeChangeDirectory()
    {
        return ChangeDirectory.InvokeAsync(Directory);
    }
}
